<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBADWxdqFFoqwBd1PwBZ6SNJ4sBQvEcA-o</string>
	<key>GCM_SENDER_ID</key>
	<string>814140749547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kazungudev.freshNest</string>
	<key>PROJECT_ID</key>
	<string>freshnest-fbf0d</string>
	<key>STORAGE_BUCKET</key>
	<string>freshnest-fbf0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814140749547:ios:a6a4916347f8ffa80fb0ae</string>
</dict>
</plist>